.wide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: #4285F4;
  place-content: center;

    .burger-icon {
      display: none;
      cursor: pointer;
      // margin-right: 45px;
      // margin-top: 15px;
      border: 1px solid white;
      border-radius: 6px;
      width: 50px;
      height: 35px;
      transition: 0.5s;

      @media screen and (max-width:560px){
        display: inherit;
      }
      @media screen and (min-width:561px){
        display: none;
      }
      .burger {
        margin: 2px 10px;
        color: white;
        transition: 0.5s;

      }

      &:hover {
        border-color: #F4B400;

        .burger {
          color: #F4B400;
        }
      }
    }

    .options {
      height: 100%;
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width:561px){
        display: none;
      }
      .links{
        margin:auto;
      }
      $logo_size: 24px;
      .dummy_div{
        width: $logo_size;
        height: $logo_size;
      }
      .home_logo{
        a{
          font-size: $logo_size;
          color:white;
        }
      }
      .option {
        color: white;
        cursor: pointer;
        font-size: 18px;
        // margin: 1.5rem;
        margin-left: 1rem;
        font-weight: 500;
        opacity: 1;
        transition: 0.5s;

        &:hover {
          color: #F4B400;
        }
      }
    }

  @media screen and (min-width:561px){
    .ham-div{
      display: none;
    }
    .options{
      display: flex;
    }
  }
  }

.my-links {
  display: none;
  background-color: #4285F4;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 1rem;

  .ham-div {
    margin-top: 10px;
    margin-right: 45px;


    .ham-option {
      width: 20%;
      color: white;
      transition: 0.5s;

      &:hover {
        color: #F4B400;
      }
    }
  }
}

.short {
  margin-bottom: 0;
  height: 55px;

  @media screen and (min-width: 561px) {
    margin-bottom: 3rem;
    height: 70px;
  }
}
.show {
  display: block;

  @media screen and (min-width: 561px) {
    display:none;
  }
}