body {
  direction: rtl;
  background-color: #efefef;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
html {
  height: 100%;
  width: 100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}