.homepage {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  overflow: hidden;


  .text {
    width:30%;
    line-height: 1.7;
    color: #0F9D58;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;

    .mail {
      font-size: 14px;
    }

    .link{
      color: #4285F4;
      text-decoration: underline;
    }
  }

  .head-desc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .wrap {
      width: 50%;

      .home-links{
        display: flex;


        .home-link{
          height: 50px;
          width: 70px;
          font-size: 14px;
          margin-left: 20px;
          margin-right: 0;
          border-color: #0F9D58;
          color: #0F9D58;

          &:hover{
            background-color: #0F9D58;
            border-color: white;
            color: white;
          }
        }
      }

    }
    .top {
      margin-bottom: 70px;
    }

    .text {
      width: 70%;
    }

    @media screen and (max-width: 840px) {
     display:block;

      .wrap {
        width: 90%;

        .text {
          width: 100%;
        }
      }
    }
  }

  .desc {
    color: #DB4437;
    margin-top: 1%;
  }
}